body {
    font-size: 15pt;
    background : url("/pramod-tiwari-_sGlFU5kvNE-unsplash.jpg") ;
    color: #fff;
    text-align: center;
    
}
h1{
font-size: 2.5rem;
color: #fff;
font-weight: 350;
opacity: 1;
}
ul{
  list-style: none;
  display: inline-block;
  justify-content: space-between;
}